/* You can add global styles to this file, and also import other style files */
/* Import one component's styles */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

@import "~ng-zorro-antd/style/index.min.css"; /* Import base styles */
@import "~ng-zorro-antd/button/style/index.min.css";  /* Import one component's styles */
@import "~ng-zorro-antd/comment/style/index.min.css";
@import "~ng-zorro-antd/drawer/style/index.min.css";
@import "~ng-zorro-antd/form/style/index.min.css";
@import "~bootswatch/dist/solar/bootstrap.css";

body {background-color: rgb(171, 226, 253);}
tab-panel {
    border: 1px solid rgb(56, 67, 131);
    padding: 10px;
    border-radius: 4px;
  }
  
  .nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid #e172fd;
  }
  
  .member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: rgb(155, 221, 253) !important;
    color: #333333;
  }
  
  .member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  
  .member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  
  .member-tabset > .nav-tabs > li.active {
    border-bottom: 4px solid #8604ff;
    position: relative;
  }
  
  .member-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
    color: #333333;
    background-color: rgb(155, 221, 253);
  }
  
  .member-tabset > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  
  .member-tabset > .tab-content {
    margin-top: -3px;
    background-color: rgb(223, 241, 250);
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }
  