<section class="container p-5 my-5 bg-info text-white">
    <br>
    <h1>Contractors</h1>
<br>
<div class="row">
    <div class="col">
        
        
    </div>
    <div class="col">
        <form class="d-flex">
            <input class="form-control me-sm-2" type="text" id="search" [name]="search" #search placeholder="Search business name, Contractors name">
            <button class="btn btn-secondary my-2 my-sm-0" (click)="searchContractor(search.value)"  type="submit">Search</button>
          </form>
    </div>
</div>  
</section>
<div class="container">
    <a role="button" class="btn btn-outline-primary" routerLink='/create-contractor'>Add contractor</a>
    <button class="btn btn-primary float-right" (click)="reload()">Reload list</button>


    <table class="table table-bordered table-hover table-striped mt-2">
      <thead>
      <tr>
        <th scope="col">Business name</th>
        <th scope="col">Contractor name</th>
        <th scope="col">Number of properties</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contractor of contractors "
      routerLink='/contractor/{{contractor.id}}'>
        <td>
          {{contractor.businessName}}
        </td>
        <td>{{contractor.firstName}} {{contractor.lastName}}</td>
        <td>Task numbers </td>
      </tr>
      </tbody>
    </table>
    
  </div>

  <div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
    [boundaryLinks]="true" 
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" 
    nextText="&rsaquo;" 
    firstText="&laquo;" 
    lastText="&raquo;">
   
  </pagination>
  </div>

