<div class="my-6 p-4">
   <form [formGroup]="createPropForm" (ngSubmit)="createPropForm.valid && propCreate()">
      <div class="shadow p-4 mb-4 bg-light">
         <h2 class="text-center">Create property</h2>
         <div class="text-center">
            <div class="form-group row">
              <div class="col-2">

              </div>
               <div class="col-8 text-left">
                  <label class="control-label">Premise number</label>
                  <app-text-input [formControl]='createPropForm.controls["premiseNumber"]' [label]='"premise number"'>
                  </app-text-input>
                  <label class="control-label">Premise name</label>
                  <app-text-input [formControl]='createPropForm.controls["premiseName"]' [label]='"premise name"'>
                  </app-text-input>

                  <label class="control-label">Address line 1</label>
                  <app-text-input [formControl]='createPropForm.controls["addressLine1"]' [label]='"address line 1"'>
                  </app-text-input>

                  <label class="control-label">Address line 2</label>
                  <app-text-input [formControl]='createPropForm.controls["addressLine2"]' [label]='"address line 2"'  >
                  </app-text-input>

                  <label class="control-label">City/ Town</label>
                  <app-text-input [formControl]='createPropForm.controls["city"]' [label]='"City/ Town"'></app-text-input>
                 
                  <label class="control-label">Postcode</label>
                  <app-text-input [formControl]='createPropForm.controls["postCode"]' [label]='"postcode"' ></app-text-input>
                  
                  <label class="control-label">Email</label>
                  <app-text-input [formControl]='createPropForm.controls["email"]' [label]='"email"' ></app-text-input>
                  
                  <label class="control-label">Phone number</label>
                  <app-text-input [formControl]='createPropForm.controls["phoneNumber1"]' [label]='"phone number"'>
                  </app-text-input>
                  
                  <label class="control-label">Phone number</label>
                  <app-text-input [formControl]='createPropForm.controls["phoneNumber2"]'[label]='"phone number"' >
                  </app-text-input>
               </div>
               <div class="col-2">
                  
               </div>
            </div>
         </div>

        <div class="row mt-5" *ngIf="validationErrors.length > 0">
         <ul class="text-danger">
             <li *ngFor="let error of validationErrors">
                 {{error}}
             </li>
         </ul>
     </div>
         <div class="text-right">
            <div class="btn-group" role="group" aria-label="Basic example">
               <button [disabled]="!createPropForm.valid" type="submit" class="btn btn-primary">Submit</button>
               <button type="submit" class="btn btn-light" (click)="backNav()">Cancel</button>
            </div>
         </div>
      </div>
   </form>
</div> 