<div class="my-6 p-4">
<form>
   <fieldset>
<div class="shadow p-4 mb-4 bg-light">

  <h2 class="text-center">Create property</h2>
        <div class="form-group row">
            <div class="col">
              <label for="premiseName" class="form-label mt-4">Property Name </label>
              <input type="text" class="form-control" id="premiseName"  placeholder="Enter Property name">
           </div>
           <div class="col">
              <label for="addressLine1" class="form-label mt-4">Address first line</label>
              <input type="text" class="form-control" id="addressLine1" placeholder="Enter Address first line">
              <label for="addressLine2" class="form-label mt-4">Address second line</label>
              <input type="text" class="form-control" id="addressLine2" placeholder="Enter Address second line">
           </div>
           <div class="col">
              <label for="town" class="form-label mt-4">Town</label>
              <input type="text" class="form-control" id="town" placeholder="Enter Town">
              <label for="County" class="form-label mt-4">County</label>
              <input type="text" class="form-control" id="county" placeholder="Enter County">
              <label for="postCode" class="form-label mt-4">PostCode</label>
              <input type="text" class="form-control" id="postCode" placeholder="Enter PostCode">
           </div>
        </div> 
      <br>
        <hr>
        <h3>Property manager/ contact</h3>
        <div class="form-group row">
          <div class="col">
            <label for="jobtitle" class="form-label mt-4">Positon/ job title </label>
            <input type="text" class="form-control" id="jobtitle"  placeholder="Enter Position/ job title">
         </div>
         <div class="col">
            <label for="firstName" class="form-label mt-4">First name</label>
            <input type="text" class="form-control" id="firstMame" placeholder="Enter first name">
            <label for="phoneNumber" class="form-label mt-4">Mobile/ landline 1</label>
            <input type="text" class="form-control" id="phoneNumber" placeholder="Enter mobile/ landline 1">
         </div>
         <div class="col">
            <label for="lastName" class="form-label mt-4">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Enter last name">
            <label for="phoneNumber2" class="form-label mt-4">Mobile/ landline 2</label>
            <input type="text" class="form-control" id="phoneNumber2" placeholder="Enter mobile/ landline 2">
         </div>
      </div>
      <br>
      <div class="form-group row">
          <div class="col">
            <label for="jobtitle" class="form-label mt-4">Positon/ job title </label>
            <input type="text" class="form-control" id="jobtitle"  placeholder="Enter Position/ job title">
         </div>
         <div class="col">
            <label for="firstName" class="form-label mt-4">First name</label>
            <input type="text" class="form-control" id="firstMame" placeholder="Enter first name">
            <label for="phoneNumber" class="form-label mt-4">Mobile/ landline 1</label>
            <input type="text" class="form-control" id="phoneNumber" placeholder="Enter mobile/ landline 1">
         </div>
         <div class="col">
            <label for="lastName" class="form-label mt-4">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Enter last name">
            <label for="phoneNumber2" class="form-label mt-4">Mobile/ landline 2</label>
            <input type="text" class="form-control" id="phoneNumber2" placeholder="Enter mobile/ landline 2">
         </div>
      </div>
   </div>
   <div class="text-right">
      <div class="btn-group" role="group" aria-label="Basic example">
         <button type="submit" class="btn btn-primary">Submit</button>
         <button type="submit" class="btn btn-light" (click)="backNav()">Cancel</button>
       </div>
    </div>
      </fieldset>
    </form>
</div>

