<div *ngIf="property">
  <div class="container bg-light ">
    <div class="row">
      <div class="col">
        <!-- address left -->
        <div class="card-body">
          <div>
            <strong>Property number</strong><br>
            {{property.premiseNumber}} <br>
            <strong>Property name </strong><br>
            {{property.premiseName}}<br>

            <strong>Address</strong>
            <p>{{property.premisesAddress.addressLine1}}
              {{property.premisesAddress.addressLine2}}
              {{property.premisesAddress.town}}
              {{property.premisesAddress.postCode}}</p>
          </div>
          <div>
            <strong>Contact details</strong>
            <p>{{property.phoneNumber1}}<br>
              {{property.phoneNumber2}}<br>
              {{property.email}} </p>
          </div>

          <button nz-button nzDanger routerLink='/premises/edit/{{property.id}}'>Edit property details</button>
          <button class="btn btn-danger" (click)="DelPropertyConfirm()">Delete</button>
        </div>
      </div>
      <div class="col">
        <!-- Accountant details -->
        <div class="card-body ">
          <strong>Accountant details</strong>
          <div *ngIf="property.accountant; else noAccountant">
            {{property.accountant.name}}<br>
            {{property.accountant.email}}
            <button class="btn btn-sm btn-danger" (click)="RemoveAccountantConfirm(property.accountant.id)">Remove<i
                class="fa fa-trash"></i></button>
          </div>

          <ng-template #noAccountant>
            No Accountant selected for this property select or Go back to the properties page to create new accountant
            <ng-container *ngIf="propAccList">
              <div class="row mt-2">
                <form nz-form [formGroup]="selectAccountantForm" (ngSubmit)="accSelectSubmit()">
                  <nz-select formControlName="accountantId" nzAllowClear nzShowSearch nzPlaceHolder="Select users">
                    <nz-option *ngFor="let item of propAccList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
                  </nz-select>
                  <button [disabled]="!selectAccountantForm.valid" type="submit"
                    class="btn btn-primary ml-2 p-1 h-24">Submit</button>
                </form>
              </div>
              <!---->

            </ng-container>


          </ng-template>
        </div>

      </div>
      <div class="col">

        <div class="card-body  text-right">
          <!-- task button -->
          <button nz-button nzType="primary" (click)="openTasks()">Tasks {{tasksCount}}</button>
          <nz-drawer [nzClosable]="false" [nzWidth]="420" [nzVisible]="visibleTasks" nzPlacement="right" nzTitle="Tasks"
            (nzOnClose)="closeTasks()">
            <ng-container *nzDrawerContent>
              <div *ngIf="premiseTask.length > 0; else noTasks">

                <ul nz-list [nzDataSource]="premiseTask">
                  <li nz-list-item *ngFor="let item of premiseTask" nzNoFlex>
                    <ul nz-list-item-actions>
                      <nz-list-item-action>
                        <a (click)="showModal(item.id)">View/ </a>
                        <a (click)="showEditTaskModal(item.id)" >Edit/ </a>
                        <a style="color:#FF0000;" (click)="DelTaskConfirm(item.id)"> Delete</a>
                      </nz-list-item-action>
                    </ul>
                    
                    <nz-modal [(nzVisible)]="modalVisible" nzTitle="{{item.title}} Info" (nzOnCancel)="handleCancel()"
                      [nzFooter]="null">
                      <p *nzModalContent>
                        
                        {{modalInfo[0].description}}<br>
                        Completion Date: {{modalInfo[0].completionDate | date}}
                      </p>
                    </nz-modal>
                    <strong> {{ item.title }}</strong>
                    <nz-modal [(nzVisible)]="modalEditTaskVisible" nzTitle="{{item.title}}" (nzOnCancel)="handleUpdateTaskCancel()"
                      [nzFooter]="null">
                    
                        <div class="text-left" *nzModalContent>
                          <form #editTaskForm="ngForm" id="editTaskForm" (ngSubmit)="taskUpdate()">
                              <div class="alert alert-info" *ngIf="editTaskForm.dirty">
                                  <strong>Information:</strong>You have made changes. Any unsaved changes will be lost!
                              </div>
                              <label  class="mt-2" for="title">Title</label>
                              <input  class="form-control" [(ngModel)]="updateTask.title" name="tile" type="text" >
                              <label  class="mt-2" for="description">Description</label>
                              <textarea  class="form-control mb-2" [(ngModel)]="updateTask.description" name="description" type="text" ></textarea> 
                              <label  class="mt-2" for="completionDate">Completion Date</label>  
                              <input  class="form-control" [(ngModel)]="updateTask.completionDate" 
                               name="completionDate" placement="top"
                               bsDatepicker
                               [bsConfig]="bsConfig"
                              >   
                          </form>
                        
                        <div class="text-right mt-2">
                          <div class="btn-group" role="group" aria-label="Basic example">
                             <button [disabled]="!editTaskForm.dirty" form="editTaskForm" type="submit" class="btn btn-primary">Save changes</button>
                             <button type="submit" class="btn btn-light" (click)="handleUpdateTaskCancel()">Cancel</button>
                          </div>
                       </div>
                      </div>
                    </nz-modal>
                  </li>
                </ul>
              </div>
              <ng-template #noTasks>
                No tasks for this property
              </ng-template>

              <h4 class="text-center mt-4">Create task</h4>
              <div class="text-center">
                <form [formGroup]='createTaskForm' (ngSubmit)="createTaskForm.valid && propTaskCreate()"
                  autocomplete="off">
                  <!-- <div class="form-group row"> -->

                  <div class="col-8 text-left ">
                    <label class="control-label">Title </label>
                    <app-text-input [formControl]='createTaskForm.controls["title"]' [label]='"Title"'>
                    </app-text-input>
                    <label class="control-label">Description</label>
                    <app-texarea-input [formControl]='createTaskForm.controls["description"]' [label]='"Description"'>
                    </app-texarea-input>
                    <label class="control-label">Completion date </label>
                    <app-date-input [formControl]='createTaskForm.controls["completionDate"]'
                      [label]='"Completion date"'></app-date-input>
                    <div class="row mt-5" *ngIf="validationErrors.length > 0">
                      <ul class="text-danger">
                        <li *ngFor="let error of validationErrors">
                          {{error}}
                        </li>
                      </ul>
                    </div>

                    <div class="form-group text-center">
                      <div class="text-right">
                        <div class="btn-group" role="group" aria-label="Basic example">
                          <button [disabled]="!createTaskForm.valid" type="submit"
                            class="btn btn-primary">Submit</button>
                          <button type="submit" class="btn btn-light" (click)="closeTasks()">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- </div> -->
                </form>
              </div>
            </ng-container>
          </nz-drawer>
        </div>
        <div class="card-body text-right">
          <!-- contractor -->
          <button nz-button nzType="primary" (click)="openContractor()">Contractor</button>
          <nz-drawer [nzClosable]="false" [nzWidth]="420" [nzVisible]="visibleContractor" nzPlacement="right"
            nzTitle="Contractors" (nzOnClose)="closeContractor()">
            <ng-container *nzDrawerContent>
              <div *ngIf="propContractorList.length > 0; else noContractor">
                <ul nz-list [nzDataSource]="propContractorList" nzSize="medium">
                    
                  <li nz-list-item *ngFor="let item of propContractorList" nzNoFlex>
                    <ul nz-list-item-actions>
                      <nz-list-item-action>
                        <a (click)="showContractorModal(item.id)">View/ </a>
                        <a style="color:#FF0000;" (click)="showRemoveConfirm(item.id)">remove</a>
                      </nz-list-item-action>
                    </ul>
                    <strong>{{item.businessName}}</strong>
                    <nz-modal [(nzVisible)]="contractorModalVisible" nzTitle="Contractor info" (nzOnCancel)="handleContractorCancel()"
                    [nzFooter]="null">
                    <p *nzModalContent>
                     <strong>Business name:</strong>  {{modalInfo[0].businessName}}<br>
                     <strong>Name:</strong>  {{modalInfo[0].firstName}} {{modalInfo[0].lastName}}<br>
                     <strong>Contact info:</strong><br>
                      {{modalInfo[0].phoneNumber1}}<br>
                      {{modalInfo[0].phoneNumber2}}<br>
                      {{modalInfo[0].email}}<br>
                    </p>
                  </nz-modal>
                  </li>
                </ul>
              </div>

              <ng-template #noContractor>
                No contractors linked to this property
              </ng-template>
              <div class="mt-4">
                <ng-container *ngIf="contractorsList.length > 0">
                  <form nz-form [formGroup]="contractorSelectForm" (ngSubmit)="conSelectSubmit()">
                    <nz-select formControlName="contractor" nzAllowClear nzShowSearch nzPlaceHolder="Select users">
                      <nz-option *ngFor="let item of contractorsList" [nzValue]="item.id" [nzLabel]="item.businessName">
                      </nz-option>
                    </nz-select>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
                </ng-container>

              </div>
            </ng-container>
          </nz-drawer>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-8 mt-3">
        <div class="container mt-2">
          <nz-list>
            <ul nz-list [nzDataSource]="permNotesn " nzBordered nzSize="large">
              <nz-list-header> Notes</nz-list-header>
              <li nz-list-item *ngFor="let item of permNotes" nzNoFlex>
                {{item.dateCreated | date}}<br>
                <strong>{{ item.noteContent }}</strong>
              </li>
            </ul>
          </nz-list>
          <form [formGroup]="permNoteForm" (ngSubmit)="permNoteForm.valid && createPermNote()">
            <app-texarea-input [formControl]='permNoteForm.controls["noteContent"]' [label]='"NoteContent"'>
            </app-texarea-input>
            <button [disabled]="!permNoteForm.valid" type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <div class="col-4 mt-4">
        <div class="container ">
          <ul nz-list [nzDataSource]="tempNotesList" nzBordered nzSize="large">
            <nz-list-header>Temp notes</nz-list-header>
            <li nz-list-item *ngFor="let item of tempNotesList" nzNoFlex>
              <ul nz-list-item-actions>
                <nz-list-item-action>
                  <a style="color:#FF0000;" (click)="DelTempNoteConfirm(item.id)">delete</a>

                </nz-list-item-action>
              </ul>
              {{ item.noteContent }}
            </li>
          </ul>
          <form [formGroup]="tempNoteForm" (ngSubmit)="tempNoteForm.valid && createTempNote()">
            <app-texarea-input [formControl]='tempNoteForm.controls["noteContent"]' [label]='"NoteContent"'>
            </app-texarea-input>
            <button [disabled]="!tempNoteForm.valid" type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>