<br>
<br>
<br>
<div class="col-3-mt-10 justify-content-center">
    <div *ngIf="!registerMode" class="container" style="text-align:center">
        <h1 style="text-align:center">Facilities Management</h1>
        <h3 style="text-align:center">Please login</h3>
        <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" (ngSubmit)="login()"
            autocomplete="off" class="text-center">
            <div class="row mt-4 ">
                <div class="col-4"></div>
                <div class="col-4">
                    
                        <input name="Username" [(ngModel)]="model.username" class="form-control m-2" type="text"
                            placeholder="Email">

                        <input name="password" [(ngModel)]="model.password" class="form-control m-2" type="password"
                            placeholder="Password">

                        <div class="d-flex justify-content-around">
                            <!-- <div>
                            <a href="">Forgot password?</a>
                        </div> -->
                        </div>
                        <button class="btn btn-dark mt-4" type="submit">Login</button>
                    

                </div>
                <div class="col-4 "></div>
            </div>
        </form>
    </div>
</div>