<div class="container p-5 my-5 bg-info">
    <br>
    <h1>Properties</h1>
<br>
<div class="row">
    <div class="col">
        
        
    </div>
    <div class="col">
        <form class="d-flex">
            <input class="form-control me-sm-2" type="text" id="search" [name]="search" #search placeholder="Search Property name, Property number">
            <button class="btn btn-secondary my-2 my-sm-0" (click)="searchPremise(search.value)" type="submit">Search</button>
          </form>
    </div>
</div>  
</div>
<div class="container">

  <div class="btn-group" role="group" >
    <button class="btn btn-outline-primary"  routerLink='/create-premise'>Add Property</button>
    <button class="btn btn-outline-primary" (click)="showCreateAccModal()">
      <span>Add Accountant</span></button>
  </div>
  <button class="btn btn-primary float-right" (click)="reload()">Reload list</button>
<br>
    
<nz-modal [(nzVisible)]="modalAccVisible" [nzFooter]="null" nzTitle="Create Accountant"(nzOnCancel)="handleAccCancel()" >
  <ng-container *nzModalContent>
   <app-prop-accountant-create></app-prop-accountant-create>
  </ng-container>
</nz-modal>

<table class="table table-bordered table-hover table-striped mt-2">
  <thead>
  <tr>
    <th scope="col">Property</th>
    <th scope="col">Phone number</th>
    <th scope="col">Tasks</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let property of properties"
  routerLink='/premises/{{property.id}}'>
    <td>
      {{property.premiseName}}
    </td>
    <td>{{property.phoneNumber1}}</td>
    <td> Tasks {{property.premisesTasks.length}}</td>
  </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination 
  [boundaryLinks]="true" 
  [totalItems]="pagination.totalItems"
  [itemsPerPage]="pagination.itemsPerPage"
  [(ngModel)]="pagination.currentPage"
  (pageChanged)="pageChanged($event)"
  previousText="&lsaquo;" 
  nextText="&rsaquo;" 
  firstText="&laquo;" 
  lastText="&raquo;">
 
</pagination>
</div>