<div class="my-6 p-4">
   <form [formGroup]="createConForm" (ngSubmit)="createConForm.valid && propCreate()">
      <div class="shadow p-4 mb-4 bg-light">
         <h2 class="text-center">Create Contractor</h2>
         <div class="text-center">
            <div class="form-group row">
              <div class="col-2">

              </div>
               <div class="col-8 text-left">
                  <label class="control-label">Business name</label>
                  <app-text-input [formControl]='createConForm.controls["businessName"]' [label]='"Business name"'>
                  </app-text-input>
                  <label class="control-label">First name</label>
                  <app-text-input [formControl]='createConForm.controls["firstName"]' [label]='"First name"'>
                  </app-text-input>

                  <label class="control-label">Last name</label>
                  <app-text-input [formControl]='createConForm.controls["lastName"]' [label]='"Last name"'>
                  </app-text-input>

                  <label class="control-label">Green light rating</label>
                  <app-text-input [formControl]='createConForm.controls["greeLightEnum"]' [label]='"Green light rating"'></app-text-input>
                 
                  <label class="control-label">Email</label>
                  <app-text-input [formControl]='createConForm.controls["email"]' [label]='"email"' ></app-text-input>
                  
                  <label class="control-label">Phone number</label>
                  <app-text-input [formControl]='createConForm.controls["phoneNumber1"]' [label]='"phone number 1"'>
                  </app-text-input>
                  
                  <label class="control-label">Phone number</label>
                  <app-text-input [formControl]='createConForm.controls["phoneNumber2"]'[label]='"phone number 2"' >
                  </app-text-input>
               </div>
               <div class="col-2">
                  
               </div>
            </div>
         </div>

        <div class="row mt-5" *ngIf="validationErrors.length > 0">
         <ul class="text-danger">
             <li *ngFor="let error of validationErrors">
                 {{error}}
             </li>
         </ul>
     </div>
         <div class="text-right">
            <div class="btn-group" role="group" aria-label="Basic example">
               <button [disabled]="!createConForm.valid" type="submit" class="btn btn-primary">Submit</button>
               <button type="submit" class="btn btn-light" (click)="backNav()">Cancel</button>
            </div>
         </div>
      </div>
   </form>
</div> 